### Entropy

In [102]:
import numpy as np
import pandas as pd

In [103]:
df = pd.read_csv('data.csv')
cols_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked']
clean_data = df.drop(cols_to_drop, axis=1)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
clean_data["Sex"] = le.fit_transform(clean_data["Sex"])
clean_data = clean_data.fillna(clean_data['Age'].mean())

In [104]:
clean_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [105]:
y = df.Survived
X = df.drop(['Survived'],axis=1)

In [106]:
X = X.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)

In [107]:
X["Age"] = X["Age"].fillna(X["Age"].mean())

In [108]:
X = X.dropna(axis=1)

In [109]:
X.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [110]:
def entropy(col):
    data, counts = np.unique(col, return_counts=True)
    # total items are also needed to find the probability
    
    N = float(col.shape[0])
    ent = 0.0
    
    for count in counts:
        p = count / N
        ent += p * np.log2(p)
        
    return -ent

In [111]:
col = np.array([1,1,2,3,4,3,3,2,2,2,1,4,4,5,5])

In [112]:
entropy(col)

2.2892464285091583

### Information Gain

In [113]:
def divide_data(x_data, fkey, fval):
    x_right = pd.DataFrame([], columns = x_data.columns)
    x_left = pd.DataFrame([], columns = x_data.columns)
    
    for xi in range(x_data.shape[0]):
        val = x_data[fkey].iloc[xi]
          
        if val > fval:
            x_right = pd.concat([x_right, x_data.loc[xi]], axis=0)
        else:
            x_left = pd.concat([x_left, x_data.loc[xi]], axis=0)
    return x_left, x_right

In [114]:
def information_gain(x_data, fkey, fval):
        
    left, right = divide_data(x_data, fkey, fval)
    # % of example in left and right
    
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    
    hs = entropy(x_data.Survived)
    
    igain = hs-(l*entropy(left.Survived)+r*entropy(right.Survived))
    return igain

In [115]:
for f in X.columns:
    print(f)
    print(information_gain(clean_data, f, clean_data[f].mean()))

Pclass
-80.33851066136094
Sex
-80.73231540043619
Age
-80.62905556399454
SibSp
-80.97332141926931
Parch
-81.73146502368775
Fare
-81.75785215043047